@model IEnumerable<Message>
@using System.Security.Claims;

@foreach (var message in Model)
{
    if (message.UserId == User.FindFirst(ClaimTypes.NameIdentifier).Value)
    {
        <div id="message-@message.Id" class="chat__self-message">
            <p class="chat__message-username" style="display:none;">@message.User.UserName</p>
            <p class="chat__message-id" style="display:none;">@message.Id</p>
            <img class="chat__check-message check-self-message" src="/img/check.svg" alt="Alternate Text" />
            <div class="chat__self-message-content">
                @if (message.RepliedMessage != null)
                {
                    <div class="chat__replied-message self-replied-message">
                        <p class="chat__replied-from self-replied-from">@message.RepliedMessage.User.UserName</p>
                        <p class="chat__replied-text self-replied-text">@message.RepliedMessage.Text</p>
                        @if (message.RepliedMessage.Image != null)
                        {
                            <img class="chat__message-img" src="data:image/jpeg;base64,@(Convert.ToBase64String(message.RepliedMessage.Image))" alt="Alternate Text" />
                        }
                    </div>
                }
                @if (message.Image != null)
                {
                    <img class="chat__message-img" src="data:image/jpeg;base64,@(Convert.ToBase64String(message.Image))" alt="Alternate Text" />
                }
                <p class="chat__message-text">@message.Text</p>
                <div class="chat__message-desc">
                    <p class="chat__message-time">@message.Date.ToString("t")</p>
                    @if (message.Read)
                    {
                        <p>·</p>
                        <p>Read</p>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="message-@message.Id" class="chat__other-message">
            <p class="chat__message-username" style="display:none;">@message.User.UserName</p>
            <p class="chat__message-id" style="display:none;">@message.Id</p>
            <div class="chat__other-message-content">
                @if (message.RepliedMessage != null)
                {
                    <div class="chat__replied-message other-replied-message">
                        <p class="chat__replied-from other-replied-from">@message.RepliedMessage.User.UserName</p>
                        <p class="chat__replied-text other-replied-text">@message.RepliedMessage.Text</p>
                        @if (message.RepliedMessage.Image != null)
                        {
                            <img class="chat__message-img" src="data:image/jpeg;base64,@(Convert.ToBase64String(message.RepliedMessage.Image))" alt="Alternate Text" />
                        }
                    </div>
                }
                @if (message.Image != null)
                {
                    <img class="chat__message-img" src="data:image/jpeg;base64,@(Convert.ToBase64String(message.Image))" alt="Alternate Text" />
                }
                <p class="chat__message-text">@message.Text</p>
                <div class="chat__message-desc">
                    <p class="chat__message-time">@message.Date.ToString("t")</p>
                </div>
            </div>
            <img class="chat__check-message check-other-message" src="/img/check.svg" alt="Alternate Text" />
        </div>
    }
}