@model AddFriendViewModel

@{
    ViewBag.Title = "Add new friends";
    ViewBag.Header = "NewFriend";
    ViewBag.Footer = "Contacts";
}

<link href="~/css/addfriend.css" rel="stylesheet" />

<div class="friends">
    <div class="friends__search-panel">
        <input placeholder="Search" type="text">
    </div>
    <div class="friends__list">
        @foreach (var user in Model.NotFriends)
        {
            <div id="friend-item-@user.UserName" class="friends__list-item">
                <a asp-controller="Profile" asp-action="Index" asp-route-userName="@user.UserName">
                    <img src="~/img/contacts-avatar.png" alt="">
                    <div class="friends__user-desc">
                        <h3>@user.UserName</h3>
                    </div>
                </a>
                <form class="friend-form" id="friend-form-@user.UserName" method="post">
                    <input type="hidden" name="userName" value="@user.UserName" />
                    @if (Model.RequestsFrom.Contains(user))
                    {
                        <button asp-action="ConfirmFriendRequest" asp-controller="Home">
                            <img src="~/img/check_big.svg" alt="" />
                        </button>
                        <button asp-action="DeleteFriendRequest" asp-controller="Home">
                            <img src="~/img/close_big.svg" alt="" />
                        </button>
                    }
                    else if (Model.RequestsTo.Contains(user))
                    {
                        <button asp-action="DeleteFriendRequest" asp-controller="Home">
                            <img src="~/img/check_big.svg" alt="" />
                        </button>
                    }
                    else
                    {
                        <button asp-action="SendFriendRequest" asp-controller="Home">
                            <img src="~/img/user_plus.svg" alt="" />
                        </button>
                    }
                </form>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script>

        let updateBtnEvents = function () {
            $('.friend-form').children("button").on("click", function () { $(this).parent().attr("action", $(this).attr("formaction")); });
        }

        updateBtnEvents();

        $('.friend-form').on("submit", function (e) {

            e.preventDefault();

            let form = $(this);
            let action = form.attr("action");

            $.ajax({
                url: action,
                method: 'post',
                dataType: 'html',
                data: form.serialize(),
                success: function (data) {
                    let response = JSON.parse(data);
                    updateButtons(form, response);
                }
            });
        });

        let updateButtons = function (form, response) {
            switch (response.result) {
                case "RequestDeleted":
                    form.children("button").remove();

                    let btn = document.createElement("button");
                    let img = document.createElement("img");

                    $(img).attr("src", "/img/user_plus.svg");
                    btn.appendChild(img);

                    $(btn).attr("formaction", "@Url.Action("SendFriendRequest", "Home")");

                    form.append(btn);
                    break;
                case "RequestSent":
                    form.children("button").attr("formaction", "@Url.Action("DeleteFriendRequest", "Home")");
                    form.children("button").children("img").attr("src", "/img/check_big.svg");
                    break;
                case "RequestConfirmed":
                    $(`#friend-item-${response.username}`).remove();
                    break;
            }
            updateBtnEvents();
        }
    </script>
}